.cover {
    position: relative;
    z-index: 0;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

.cover--content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: (120px + 40px) 40px;
    margin: auto;
}

//custom slides

.cover-1 {
    color: #FFF;
    background-color: #4C473A;
    background-image: url(../img/wallet_original.jpg);
}
.cover-3 {
    color: #5E5E5E;
    background-color: #D5E1DF;
    background-image: url(../img/notebook_original.jpg);
    text-align: center;
}
.cover-4 {
    color: #FFF;
    background-color: #B18A60;
    background-position: 100% 0;
    background-image: url(../img/worldmap_original.jpg);
    text-align: center;
}

.cover-5 {
    color: #595959;
    background-color: #F4F4F4;
    background-position: 0 50%;
    background-image: url(../img/payanywhere_original.jpg);
}

.cover-6 {
    color: #FFF;
    background-color: #D96650;
}

.cover-7 {
    color: #FFF;
    background-color: #863236;
}
